body { background-color: #000000; color: white; text-align: center; }
canvas { border: 1px solid #ffffff; display: block; margin: 20px auto; background: #111; }
#erase { background-color: red; color: white; padding: 10px; cursor: pointer; }
#dirt { background-color: brown; color: white; padding: 10px; cursor: pointer; }
#sand { background-color: rgb(221, 186, 141); color: white; padding: 10px; cursor: pointer; }
#stone { background-color: rgb(99, 99, 99); color: white; padding: 10px; cursor: pointer; }
#antipowder { background-color: rgb(255, 0, 225); color: rgb(0, 0, 0); padding: 10px; cursor: pointer; }
#antiliquid { background-color: rgb(255, 0, 225); color: rgb(0, 0, 0); padding: 10px; cursor: pointer; }
#antigas { background-color: rgb(255, 0, 225); color: rgb(0, 0, 0); padding: 10px; cursor: pointer; }
#wood { background-color: rgb(124, 74, 7); color: white; padding: 10px; cursor: pointer; }
#ash { background-color: rgb(136, 136, 136); color: white; padding: 10px; cursor: pointer; }
#water { background-color: blue; color: white; padding: 10px; cursor: pointer; }
#bomb { background-color: rgb(2, 111, 11); color: white; padding: 10px; cursor: pointer; }
#oil { background-color: rgb(0, 0, 0); color: white; padding: 10px; cursor: pointer; }
#acid { background-color: rgb(0, 255, 0); color: rgb(0, 0, 0); padding: 10px; cursor: pointer; }
#steam { background-color: grey; color: white; padding: 10px; cursor: pointer; }
#fire { background-color: orangered; color: white; padding: 10px; cursor: pointer; }
#heater { background-color: rgb(116, 99, 92); color: white; padding: 10px; cursor: pointer; }
#cloner { background-color: rgb(169, 171, 101); color: white; padding: 10px; cursor: pointer; }
#destroyer { background-color: rgb(0, 0, 0); color: white; padding: 10px; cursor: pointer; }